@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Limelight|Raleway:400,700);

@font-face {
  font-family: 'typewriter';
  src: url('../../fonts/mplus-1m-regular-webfont.eot');
  src: url('../../fonts/mplus-1m-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/mplus-1m-regular-webfont.woff') format('woff'),
    url('../../fonts/mplus-1m-regular-webfont.ttf') format('truetype'),
    url('../../fonts/mplus-1m-regular-webfont.svg#m_1mlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'suetterlin';
  src: url('../../fonts/18thctrkurtxt-webfont.eot');
  src: url('../../fonts/18thctrkurtxt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/18thctrkurtxt-webfont.woff') format('woff'),
    url('../../fonts/18thctrkurtxt-webfont.ttf') format('truetype'),
    url('../../fonts/18thctrkurtxt-webfont.svg#18th_century_kurrent_textRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fraktur';
  src: url('../../fonts/schwabacher-webfont.eot');
  src: url('../../fonts/schwabacher-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/schwabacher-webfont.woff2') format('woff2'),
    url('../../fonts/schwabacher-webfont.woff') format('woff'),
    url('../../fonts/schwabacher-webfont.ttf') format('truetype'),
    url('../../fonts/schwabacher-webfont.svg#schwabacherregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kurrent';
  src: url('../../fonts/wiegelkurrentmedium-webfont.eot');
  src: url('../../fonts/wiegelkurrentmedium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/wiegelkurrentmedium-webfont.woff2') format('woff2'),
    url('../../fonts/wiegelkurrentmedium-webfont.woff') format('woff'),
    url('../../fonts/wiegelkurrentmedium-webfont.ttf') format('truetype'),
    url('../../fonts/wiegelkurrentmedium-webfont.svg#wiegel_kurrent_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  font-family: 'Limelight', sans-serif;
}

.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
  color: #41c84b;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.heart {
  color: red;
  text-shadow: none;
}

#typed {
  //font-family: typewriter, sans-serif;
  color: #41c84b;
}

.intro .translation {
  height: 1.5em;
}

.hand-written {
  color: #41c84b;
  animation-duration: 1.5s !important;
}

.printed {
  color: #41c84b;
}

.suetterlin {
  font-family: 'suetterlin', serif !important;
  vertical-align: 25%;
}

.fraktur {
  font-family: 'fraktur', serif !important;
}

.kurrent {
  font-family: 'kurrent', serif !important;
}

.fa-ul .fa-check {
  color: #41c84b;
}
